.menu{
width:960px; height:50px; background-color: #929fba!important;
}

.menu ul{
margin:0; padding:0; list-style:none; float:left;
}
.menu ul li{
    color:#fff; float:left; position:relative;
}
.menu ul li a{
    text-decoration:none; color:#fff; padding:0 20px;
    line-height:50px; border-right:2px solid gray;
}
.menu ul li ul{
    position: absolute;
    background-color:#929fba;
    display:none; width:110%;
}
.menu ul li ul li a{
    border-right:2px solid gray; border-bottom:2px solid gray;
    line-height:30px; display:block;
    text-align:center; width:100%;
}
.menu ul li ul li a:hover{ color:black; font-weight:bold; }
.menu ul li:hover ul{ display: block; }
    